<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--  可以在此放入個別應用程式的組態設定 , 使用 System.Configuration.ConfigurationSettings.AppSettings(key) 即可取得對應key的值 -->
    <!--顏色可以使用系統定義的顏色字串,譬如 LightGreen 是淺綠色,詳情請參考MSDN KnownColo 列舉型別
		也可以使用十進位或是十六進位整數,譬如 &H78FF0000 代表淡紅色, -16776961 代表藍色-->
    <add key="DataGrid資料列的交替背景顏色" value="LightCyan" />
    <add key="DataGrid被選取資料列的背景顏色" value="LightGreen" />
    <add key="DataGrid資料表標頭的前景顏色" value="Blue" />
    <add key="DataGrid欄標頭的前景顏色" value="DarkGreen" />
    <add key="查詢面板的背景顏色" value="LightBlue" />
    <add key="財物新增後是否要跳出詢問是否要列印財物保管增加單的視窗" value="是" />
    <add key="複製整列資料或是整個Grid資料所使用的欄分隔符號" value="	" />
    <!--預設是vbtab-->
    <add key="按月提列折舊的水利會" value="公" />
    <!--以分號分隔 -->
    <add key="單次列印的最大頁數" value="800" />
    <add key="金額的小數點位數" value="2" />
    <add key="線上說明的網址" value="http://163.29.94.8/chia.net/help/pgm/pgm.htm" />
    <add key="預設勾選列印沒有會計科目的備品" value="否" />
    <add key="財產增加單預設列印份數" value="2" />
    <add key="財產增加單決裁樣式" value="0" />
    <add key="財產減損單預設列印份數" value="2" />
    <add key="財產減損單決裁樣式" value="0" />
    <add key="在查詢區的文字盒按下Enter就自動執行查詢" value="是" />
    <add key="在新增修改區的文字盒按下Enter就自動執行新增或修改" value="是" />
    <add key="在報表區的文字盒按下Enter就自動執行" value="預覽列印" />
    <!-- 預覽列印,列印,無-->
    <add key="在其他區的文字盒按下Enter就自動執行對應按鈕" value="是" />
    <add key="財產增加單第1聯的說明文字" value="第一聯：事務股留存登帳" />
    <add key="財產增加單第2聯的說明文字" value="第二聯：附原始憑證送主計室審核" />

    <add key="會計科目資料表有不合法的代碼時要執行的動作" value="3" />
    <!--丟出例外=0,跳出訊息框=1,記錄到日誌檔=2(預設值),記錄到日誌檔並發送mail=3,跳出訊息框並記錄到日誌檔=4,跳出訊息框並記錄到日誌檔並發送mail=5,忽略不處理=99-->
    <add key="單位資料表有不合法的代碼時要執行的動作" value="0" />
    <!--丟出例外=0(預設值),跳出訊息框=1,記錄到日誌檔=2,記錄到日誌檔並發送mail=3,跳出訊息框並記錄到日誌檔=4,跳出訊息框並記錄到日誌檔並發送mail=5,忽略不處理=99-->
    <add key="員工資料表有不合法的代碼時要執行的動作" value="0" />
    <!--丟出例外=0(預設值),跳出訊息框=1,記錄到日誌檔=2,記錄到日誌檔並發送mail=3,跳出訊息框並記錄到日誌檔=4,跳出訊息框並記錄到日誌檔並發送mail=5,忽略不處理=99-->
    <add key="水利工程財物編號的開頭" value="2" />
    <add key="灌溉工程財物編號的開頭" value="201" />
    <add key="排水工程財物編號的開頭" value="202" />
    <add key="水利工程明細分戶卡最大查詢年數" value="100" />

    <!-- 這些列表會被加入到combobox中-->
    <add key="財物分類單位列表" value="支;只;台;本;件;全;具;卷;架;面;個;套;座;張;條;組;部;塊;對;領;輛" />
    <add key="財物分類材質列表" value="不銹鋼;木;木,金屬;木,皮;水銀,玻璃;合金;合金,玻璃;合金,鐵;金屬;金屬,布;金屬,皮帶;金屬,玻璃;金屬,塑膠;金屬、塑膠;金屬、電子;絨布;塑膠;塑膠,木;塑膠,合金;塑膠,鐵;塑膠,鐵等;銅;積體電路;鋼鐵;鋼鐵、塑膠;壓克力,銅;鐵,合金;混凝土" />
    <add key="建物類別列表" value="本會辦公廳;本會宿舍;本會倉庫;工作站辦公廳;工作站宿舍;工作站倉庫" />
    <add key="報廢原因列表" value="年限已屆，不堪使用;損壞不堪使用;標售;失竊;失竊，且使用年限已屆;引擎嚴重損壞;重大事故，不堪使用" />
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
